# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM Version Cache
.fvm/
/ios/build/XCBuildData/a73de63d85323d365e9645a12086e0ba.xcbuilddata/build-request.json
/ios/build/XCBuildData/a73de63d85323d365e9645a12086e0ba.xcbuilddata/description.msgpack
/ios/build/XCBuildData/a73de63d85323d365e9645a12086e0ba.xcbuilddata/manifest.json
/ios/Podfile.lock
/ios/build/XCBuildData/a73de63d85323d365e9645a12086e0ba.xcbuilddata/target-graph.txt
/ios/build/XCBuildData/a73de63d85323d365e9645a12086e0ba.xcbuilddata/task-store.msgpack
